body {
    background-color: black;
    height : 100%;
    width : 100%;
    margin: 0;
}

.bottomBar {
    position: fixed;
    top : calc(100% - 75px);
    height : 75px;
    width : 100vw;
    background-color: rgb(15, 15, 15);
}

.center {
    position: absolute;
    left : 50%;
    transform: translate(-50%, 0);
}

.playbackButtons {
    width : 30px;
    height : 30px;
    color : gray;
}

.play {
    position : relative;
}

.skipBack {
    position : relative;
    left : -30px;
}

.skipForward {
    position: relative;
    left : 30px
}

#shuffleMix {
    position : relative;
    left : -60px;
    width: 30px;
    height : 30px;
}

#loopButton {
    position : relative;
    left : 65px;
    width: 30px;
    height : 30px;
}

#playBar {
    display: flex;
    top: 30px;
    flex-direction: row;
}

.bar {
    border-radius: 8px;
    height: 4px;
    width: 30vw;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

.sideBar {
    height: calc(100vh - 75px);
    width: 300px;
    background-color: rgb(15, 15, 15);
    position: absolute;
    top : 0px;
    left : 0px;

}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 12px;
    background : gray;
    border-radius: 50%;
}


.realTime {
    color: gray;
    font-size: large;
}

.remainingDuration {
    color: gray;
    font-size: large;
}

#ytDownload {
    top: 2px;
    position: absolute;
    background-color: rgb(27, 27, 27);
    width: 250px;
    left: 25px;
    border-radius: 10px;
    border: none;
    height: 20px;
    font-weight: bold;
}

#ytDownloadLogo {
    position: absolute;
    top: 3px;
    left: 3px;
}

#songHolder {
    position : absolute;
    width : calc(100% - 350px);
    height : calc(100% - 100px);
    left: 325px;
    background-color: rgb(39, 39, 39);
    border-radius: 30px;
}