body {
    background-color: #131516;
    color: white;
}

.login-holder {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    background-color: rgba(50, 50, 50, 0.5);
    width: 350px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}

#username {
    color: white;
    background-color: #131516;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}

#password {
    color: white;
    background-color: #131516;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}

#confirm-password {
    color: white;
    background-color: #131516;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}

.login {
    color: white;
    background-color: #131516;
    border: none;
    position: relative;
    width: 65%;
    top: 15px;
    height: 30px;
}

.login:hover {
    color: red;
}

.login:active {
    color: #d102af;
}

.create-account {
    background: none;
    border: none;
    color: rgb(5, 99, 193);
    cursor: pointer;
    width: 100%;
    top: 15px;
    position: relative;
}

.create-account:hover {
    color: red;
    text-decoration: underline;
}

.create-account:active {
    color: #d102af;
}
